.icon-button {
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 1px solid #98a2b333;
  border-radius: 8px;
  background-color: #98a2b31a;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}
